<div class="home-container">
    <div class="content-wrapper">
      <h1>Find Your Dream Job Today!</h1>
      <p>Connecting Talent with Opportunity: Your Gateway to Career Success</p>
      
      <div class="role-buttons">
        <a 
          class="btn job-searcher" 
          [routerLink]="['/job-searcher']">
          Job Searcher
        </a>
        <a 
          class="btn employee" 
          [routerLink]="['/employee']">
          Employee
        </a>
      </div>
  
      <div class="stats-container">
        <div class="stat-item">
          <img src="https://cdn-icons-png.flaticon.com/512/2910/2910791.png" alt="Jobs">
          <span>5000+ Jobs</span>
        </div>
        <div class="stat-item">
          <img src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png" alt="Candidates">
          <span>10000 Candidates</span>
        </div>
        <div class="stat-item">
          <img src="https://cdn-icons-png.flaticon.com/512/1239/1239682.png" alt="Companies">
          <span>1000 Companies</span>
        </div>
      </div>
  
      <div class="featured-companies">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/1982px-Spotify_icon.svg.png" alt="Spotify">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Adobe_Systems_logo_and_wordmark.svg/2560px-Adobe_Systems_logo_and_wordmark.svg.png" alt="Adobe">
        <img src="https://cdn.worldvectorlogo.com/logos/asana-logo.svg" alt="Asana">
        <!-- <img src="https://asset.brandfetch.io/idFdo8ulhr/idzj8WdYQk.png" alt="Linear"> -->
      </div>
    </div>
  </div>